header{
background: aqua;
text-align: center;
}
#TOMANDJERRY{
    background-color: burlywood;
color: darkblue;
text-align: center
}
    background-color: blue;
color: blue;
text-align: center;
}  

nav ul{
   list-style: none; 
text- aling: center;
aling intem : center
}
nav-link{
 text-decoration:none
 cursor: pointer;  
}
